<h1>velkommen</h1>
<p>1-1={{1+1+4}}</p>
<p>{{name}}</p>
<h2>{{getName(98)}}</h2>
<h1>employees:
  {{employees}}</h1>
<p>employee 1: {{employees[0]}} </p>
<ul>
  <li>title:{{employee.title}}</li>
  <li>namn:{{employee.name}}</li>
</ul>
<img src="{{employee.src}}" width="200" alt="{{employee.alt}}">

<p (mouseover)="overst()">{{name}}</p>
<input type="button" value="Save" (click)="paaKlikkLagre()" [disabled]="isOn">
<br/>
<br/>
<input type="text" placeholder="input here and click outside" (change)="forandring()">
<br/>
<br/>
<input type="text" placeholder="sqr bracket prop-binding, inspect on browser" [id]="textid">
<br/>
<br/>
<input type="text" placeholder="crly bracket prop-binding, inspect on browser" id="{{textid}}">
<br/>
<br/>
<input type="text" placeholder="color by class binding" [id]="textid" [class]="myClasses">


